<div class="footerc">
  <div class="row">
    <div class="col-md-4 p-4">
      <a href="https://sipac.ufpa.br/sipac/?modo=classico" target="_blank" class="link text-color">SIPAC</a>
    </div>
    <div class="col-md-4 p-4">
      <a href="https://sigaa.ufpa.br/sigaa/verTelaLogin.do" target="_blank" class="link text-color">SIGAA</a>
    </div>
    <div class="col-md-4 p-4">
      <a href="https://sagitta.ufpa.br/sagitta/" target="_blank" class="link text-color">SAGITTA</a>
    </div>
    <div class="col-md-12 rodape">© SIED 2023-2024</div>
  </div>
</div>
